<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8">
    <title>智能语音管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" media="screen">

	<style>
	.table{ background:#FFF;}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {border-top:0px solid #ddd;}
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	 </head>
  <body>
  	<!--使用模态框作为信息修改-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">信息修改</h4>
                </div>
                <div class="modal-body">

			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">密码</label>
				<div class="input-icon">
					<i class="icon-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="pwd" id="pwds" />
				</div>
			</div>

			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">姓名</label>
				<div class="input-icon">
					<i class="icon-user"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="姓名" name="username" id="names"/>
				</div>
			</div>

			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">手机号码</label>
				<div class="input-icon">
					<i class="icon-user"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="手机号码" name="phone" id="phones"/>
				</div>
			</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="btn_submit" class="btn btn-primary"  onclick="rewrite()" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                </div>
            </div>
        </div>
    </div>

	<!--真正的网页内容-->
    <div class="navbar" role="navigation">

          <!-- 点击收缩左边的菜单栏  + 缩小后左边菜单栏的显示 -->
          <ul class="nav navbar-nav navbar-actions navbar-left">
              <li class="visible-md visible-lg"><a href="testSession.html#"><i class="icon-th-large"></i></a></li>
              <li class="visible-xs visible-sm"><a href="testSession.html#"><i class="icon-align-justify"></i></a></li>
          </ul>

          <span class="teachCenterTitle">智能语音交互系统</span>
          <!-- Navbar Left -->

          <!-- Navbar Right -->
          <div class="navbar-right">
              <!-- Notifications -->
              <ul class="notifications" avalonctrl="subNotificationsController">
                  <li class="hidden-sm hidden-xs">
                      <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                          <i class="icon-envelope"></i>
                              <!--ms-if-->
                      </a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-header" style="text-align: center;">
                          <strong>未读消息列表</strong>
                          </li>
                          <li class="dropdown-menu-footer text-center">
                              <a href="../teach/notifications.html">更多消息</a>
                          </li>
                      </ul>

                  </li>
                  <li>
                      <a href="#outModal" class="dropdown-toggle notification-icon" data-toggle="modal">
                          <i class="icon-remove"></i>
                      </a>
                  </li>
              </ul>

              <!-- End Notifications -->
          </div>
          <!-- End Navbar Right -->
      </div>




	<div class="container-fluid content">
    	<div class="row">

        	<div class="sidebar">
					<div class="sidebar-collapse">
						<!-- Sidebar Header Logo-->
						<div class="sidebar-header ">
							<a href="#" target="_blank"><img src="../image/manage-logo.png" width="7" height="50" alt=""></a>
						</div>

						<!-- Sidebar Menu-->
						<div class="sidebar-menu" style="height: 384px;">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-sidebar">
									<div class="panel-body text-center">
										<div class="bk-avatar">
											<a href="#"><img class="img-circle bk-img-60" alt="" src={{img}} data-toggle="modal" data-target="#myModal" ></a>
											<!--ms-if-->
										</div>
										<div class="bk-padding-top-10">
											<i class="icon-circle text-success"></i>
											<small>{{name}}</small>
											<!--ms-if-->
										</div>
									</div>
									<div class="divider2"></div>


									<li class="menuItem">
										<a href="testSession.html">
											<i class="icon-home" aria-hidden="true"></i><span>主界面</span>
										</a>
									</li>

									 <li class="menuItem nav-parent">
										<a>
											<i class="icon-copy" aria-hidden="true"></i><span>我的账户</span>
										</a>
										<ul class="nav nav-children">
											<li><a href="#"><span class="text">信息修改</span></a></li>
											<li><a href="#"><span class="text">呼叫管理</span></a></li>
											<li><a href="#"><span class="text">模板管理</span></a></li>

										</ul>
									</li>

									<li class="menuItem nav-parent">
										<a>
											<i class="icon-copy" aria-hidden="true"></i><span>我的套餐</span>
										</a>
										<ul class="nav nav-children">
                                            <li><a href="#"><span class="text">套餐管理</span></a></li>
                                            <li><a href="#"><span class="text">套餐购买</span></a></li>


										</ul>
									</li>
                                    <li class="menuItem nav-children">
									<a href="#"><span class="text">统计分析</span></a>
										</li>


								</ul>
							</nav>
						</div>
						<!-- End Sidebar Menu-->
					</div>
					<!-- Sidebar Footer-->
					<div class="sidebar-footer">
						<div class="copyright text-center">

						</div>
					</div>
					<!-- End Sidebar Footer-->
				</div>   <!-- End Sidebar-->


			<div class="main " style="min-height: 584px;">
					<!-- 当前地址导航 -->
					<div class="page-header row">
						<div class="pull-left">
							<ol class="breadcrumb visible-sm visible-md visible-lg">
                            	<li><a href="#">位置  :</a></li>
								<li><a href="testSession.html"><i class=" icon-home"></i>首页</a></li>
							</ol>
						</div>
						<div class="pull-right">
							<ol class="breadcrumb visible-sm visible-md visible-lg">
								<li><a href="testSession.html"><i class=" icon-building"></i>AAAA</a></li>
                                <li><a href="testSession.html"><i class="icon-legal"></i>BBBB</a></li>
                                <li><a href="testSession.html"><i class="icon-user"></i>CCCC</a></li>
                                <li><a href="testSession.html"><i class="icon-home"></i>DDDD</a></li>
							</ol>
						</div>
					</div>
					<!-- 主面板内容 -->
					<div class="row form">

						<div class="col-lg-12">

							<div id="post1" class="col-md-3 ">
								<p>通知公告</p>
                                <div class="post">
                                     <p>该项目基于FreeSWITCH平台，我们开发自己的话数引擎以及web客户端，使企业用户可以通过网页的形式上传给定电话单通过该系统定时拨打电话单中的用户，询问用户指定的问题。</p>
                                </div>

							</div>

							<div id="information1" class=" col-md-offset-1 col-md-3 ">
								<p>个人消息提示</p>
                                <div class="information">
                                    <p>消息一 <span name="date" style="text-align:right;"></span></p>
                                    <p>消息二<span name="date"></span></p>
                                    <p>消息三<span name="date"></span></p>
                                    <p>消息四<span name="date"></span></p>
                                </div>
							</div>


								<div id="calendar" class="col-md-4" style="background:none;"></div>

							<script src="{% static 'js/calendar.jquery.min.js' %}"></script>
                            <script src="{% static 'js/jquery-ui-datepicker.min.js' %}"></script>
                            <script>
                                $('#calendar').datepicker({
                                    inline: true,
                                    firstDay: 1,
                                    showOtherMonths: true,
                                    dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
                                });
                            </script>

						</div>
						<div id="caption" class="col-lg-12">
                        	<p>今日代办</p>
						</div>
						<div id="data" class="col-lg-12">

							<div class="col-md-2 col-xs-2 data_display">
								<table class="table" id='tvb'>
                                    <tr>
                                        <td style="font-size:50%">注册用户</td>
                                        <td rowspan="2"><span class="icon-user" style="background:#FA8562;"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:120%">1287</td>
                                    </tr>
                                </table>
							</div>

							<div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
								<table class="table">
                                    <tr>
                                        <td style="font-size:50%">租赁申请</td>
                                        <td rowspan="2" ><span class="icon-th-list" style="background:#ADC885;"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:120%">1287</td>
                                    </tr>
                                </table>

							</div>

							<div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
								<!--<a href="message.html">-->
								<table class="table" width="100%">
                                    <tr style=" border-color:#FFF">
                                        <td style="font-size:50%">实习申请</td>
                                        <td rowspan="2"><span class="icon-list-alt" style="background:#63ADDC;"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:120%">1287</td>
                                    </tr>
                                </table>
							</div>

                            <div class=" col-md-offset-1 col-xs-offset-1 col-md-2 col-xs-2 data_display">
								<!--<a href="message.html">-->
								<table class="table">
                                    <tr>
                                        <td style="font-size:50%">维修申请</td>
                                        <td rowspan="2"><span class="icon-wrench" style="background:#CC82B5;"></span></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size:120%">1287</td>
                                    </tr>
                                </table>
							</div>
						</div>

					</div>
				</div><!-- End Sidebar-->



        </div><!--row end-->
    </div>
	<div class="clearfix"></div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/kg.js' %}"></script>
  </body>
</html>